@model ICollection<Website?>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach(var website in Model)
    {
        Console.WriteLine(website.Id);
        <p>
            <a asp-controller="Home" asp-action="WebsiteView" asp-route-Id="@website.Id">@website.Name</a>
            <a asp-controller="Home" asp-action="WebsiteBuildView" asp-route-Id="@website.Id">Edit</a>
        </p>
    }
    <a asp-controller="Home" asp-action="WebsiteAddView"><button>Add</button></a>
</div>