@{
    ViewData["Title"] = "Website Add View";
}

<form method="post" action="/Website/CreateWebsite">
    <label for="name">Website Name: </label>
    <input type="text" name="name"/>
    <input type="submit" value="Create"/>
</form>