@model Website

@{
    ViewData["Title"] = "Website Build";
}

<h1>@Model.Name</h1>

<form method="post" action="/Website/UpdateWebsite">
    <input type="hidden" name="id" value="@Model.Id" />
    <textarea name="code">@Model.Code</textarea>
    <input type="submit" value="Save">
</form>
